/* 
 * styleSheet.css
 */

html, body {
	background-color: #CCCEE4;
	background-size: 100% 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}

/* Containers */

.container {
	height: 100%;
}
#toolBar {
	position: fixed;
	box-shadow: 8px 8px 20px black;
	background-color: rgba(0, 0, 0, 0.15);
	float: left;
	width: 26%;
	height: 100%
}
.content {
	display: block;
	width: 70%;
	float: right;
	margin-top: 20px;

}
.contentPanel0 {
	width: 100%;
	float: left;
}
.contentPanel1 {
	width: 38%;
	float: left;
}
.contentPanel2 {
	width: 62%;
	float: right;
}

/* Headings */


h1 {
	font-size: 45px;
	font-family: Times;
}
h2 {
	font-size: 30px;
	font-family: Helvetica;
	text-align: center;
	font-weight: 700;
}
.header {
	float: left;
	margin: 60px;
}
#headerInfo {
	font-size: 22px;
	font-family: Georgia;
	text-align: left;
	color: black;
	line-height: 35px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
}
.subheader {
	display: block;
	padding: 30px;
	width: 490px;
	margin-left: 170px;
}
.subheaderInfo {
	font: bold 2.3em/50px Arial Helvetica;
}
#profPic {
	border: 1px solid black;
	width: 320px;
	margin: 60px;
	box-shadow: 4px 4px 8px black;
}
.headerLink {
	color: black
}
.headerLink:hover {
	color: #0B0B61;
	text-shadow: 1px 1px 3px black;
}

/* Buttons */
.button {
	display: block;
}
.buttonMenu {
	text-align: center;
	color: rgba(0, 0, 0, 0.7);
	font: bold 3.6em/140px Helvetica Arial;
	height: 24.7%;
	width: 100%;
}
.buttonInfo {
	color: rgba(0, 0, 0, 0.9);
	width: 100%;
	text-align: left;
	background: none;
	border: none;
	font: 0.82em/35px Arial;
}
.buttonCentral {
	height: 60px;
	text-align: center;
	width: 835px;
	font: 3.0em/60px Arial Helvetica;
	color: rgba(0, 0, 0, 0.9);
}
.buttonProject {
	display: block;
	height: 250px;
	width: 227px;
	text-align: center;
	font: 2.8em/50px Arial Helvetica sans-serif;
	color: #0B0B61;
}
.buttonInvasion {
	background-image: url("./images/level2Background.png");
}
.buttonProject:hover {
	opacity: .7;
}
.buttonWebServer {
	background-color: black;
}
.buttonDatabase {
	background-color: #DF0101;
}

 /* Button Modifiers */

.button:hover {
	background: rgba(0, 0, 0, 0.2);
}

.button:active {
	background-color: rgba(255, 255, 255, 0.1);
}

input:focus {
	outline:none;
}


/* Panel Attributes */

.panel {
	box-shadow: 3px 3px 8px black;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.15);
}
.left {
	float: left;
}
.right {
	float: right;
}
.margin {
	margin: 38px;
}
.marginTop {
	margin-bottom: 38px;
	margin-left: 38px;
	margin-right: 38px;
}
.marginLeft {
	margin-top: 38px;
	margin-bottom: 38px;
	margin-right: 38px;
}
.marginHalf {
	margin-bottom: 38px;
	margin-right: 38px;
}
.wide {
	width: 210px;
}

/* Panel Content */

.experienceInfo {
	margin: 18px;
	font-size: 20px;
}
.skillsInfo {
	margin: 18px;
	font-size: 25px;
}

#outputDiv {

	margin: 18px;
	font-size: 20px;
	height: 70px;
	width: 470px;
}