
<div class="container">
	<div class="row">

		<div class="col-md-4 viewCol">
			{{intro1}}
				<br/>
					<br/>
			{{intro2}}
				<br/>
					<br/>
			{{intro3}}
		</div>
			
		<div class="col-md-4 viewCol" >
			<img ng-src="{{profilePic}}" class="profilePic">
		</div>
		
		<div class="col-md-4 viewCol">
			{{bio1}}
				<br/>
					<br/>
			{{bio2}}
				<br/>
					<br/>
			{{bio3}}
		</div>
	</div>
</div>

	<!-- <div>
	about self. 3 paragraphs of text. Simple div sith border in center of light background. Highlights with a mouseover anything that can be clicked.

		<div>
		My profession, where I work, my situation, brief relevant background information.

		</div>

		<div>
		My skills: Java, front end focused. 

		</div>

		<div>
		My interests professionally. What I am interested in doing in a new position:
			web design
		</div>

		<div>
		My Hobbies, scuba, investing, soccer, gaming. 

		</div>


	</div> -->

	<!--<a href="#/experience.html">experience</a>
	<a href="#/education.html">education</a>
	<a href="#/aboutMe.html">education</a>-->


<!--{{test}}-->