<div class="container">
	<div class="row centeredRow">

		<div class="col-md-3 viewCol">
			<span class="subHead"> {{javaTitle}} </span>
		</div>

		<div class="col-md-3 viewCol">
			<span class="subHead"> {{webTitle}} </span>
		</div>

		<div class="col-md-3 viewCol">
			<span class="subHead"> {{linuxTitle}} </span>
		</div>

		<div class="col-md-3 viewCol">
			<span class="subHead"> {{otherTitle}} </span>
		</div>

	</div>
	
	<hr>

	<div class="row">
		
		<ul>
			<div class="col-md-3 viewCol">
				<li ng-repeat="g in javaStack">{{g}}</li>
			</div>

			<div class="col-md-3 viewCol">
				<li ng-repeat="y in webStack">{{y}}</li>
			</div>

			<div class="col-md-3 viewCol">
				<li ng-repeat="z in linuxStack">{{z}}</li>
			</div>

			<div class="col-md-3 viewCol">
				<li ng-repeat="s in otherSkills">{{s}}</li>
			</div>
		</ul>

	</div>
</div>